@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Roboto&family=Source+Code+Pro&display=swap');

body {
  background-color: #0b486b;
}

.Logo_Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Logo_L:hover {
  border-color: white;
}

.Logo_L {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  border-bottom: solid 2px;
  border-left: solid 2px;
  border-right: solid 2px;
  border-color: #3b8686;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 0;
  color: white;
}

.Logo_A {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  padding-left: 2px;
  padding-right: 2px;
  color: white;
}
.Content_NameTyped {
  margin: 0;
  font-size: 24px;
  position: relative;
  color: white;
  font-family: 'Source Code Pro', monospace;
  width: max-content;
}
.Content_NameTyped::after,
.Content_NameTyped::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.Content_NameTyped::before {
  background: #0b486b;
  animation: typewriter 1s steps(23) 1s forwards;
}
.Content_NameTyped::after {
  width: 0.125em;
  background: white;
  animation: typewriter 1s steps(23) 1s forwards, blink 750ms steps(23) infinite;
}

.SubText {
  margin-top: 16px;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 2s forwards;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.NavBar_Container {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  background-color: #08344d;
  padding: 0px;
  height: 80px;
}

.NavBar_Split {
  display: flex;
  justify-content: space-between;
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.NavBar_letters {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  gap: 16px;
  cursor: pointer;
}

.NavBar_letterss:hover {
  color: #3b8686;
}
.NavBar_letters > span > span.ActiveButton {
  text-decoration: underline;
  color: #3b8686;
  cursor: unset !important;
}
.NavBar_letters > span > span:hover.unActiveButton {
  color: #3b8686;
  cursor: pointer;
}

.Project {
  margin-top: 40px;
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.Project_img {
  width: 500px;
}

.Content_Title {
  padding-bottom: 16px;
  color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

.Content_text {
  color: white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  max-width: 65ch;
  height: 250px;
}

.Project_Container {
  width: 1080px;
  margin-bottom: 120px;
  margin-right: auto;
  margin-left: auto;
}

.Project_Title {
  color: white;
  padding-bottom: 60px;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #cff09e;
}

.profilepic {
  width: 260px;
  aspect-ratio: 780/681;
  border-radius: 50%;
}
.Content_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.Content_content > div {
  height: 400px;
}
.Tech_icons {
  margin-top: 60px;
  margin-bottom: 120px;
  width: 1080px;
  display: grid;
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}
.Project_img:hover {
  transform: scale(1.25);
  cursor: pointer;
}
.ICON {
  display: flex;
  color: white;
  width: 40px;
  height: 40px;
}
.ICON2 {
  display: flex;
  color: white;
  width: 2rem;
  height: 2rem;
  padding: 8px;
}
.ICON2TEXT {
  display: flex;
  color: white;
  align-items: center;
}
.Project_Card {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-bottom: 60px;
}
.Project_cardtext {
  color: white;
}
p {
  max-width: 50ch;
  font-size: 16px;
}
.Tech_text {
  font-size: 16px;
  color: white;
  text-align: center;
}

.Content_Container {
  display: flex;
  width: 1080px;
  margin-right: auto;
  margin-left: auto;
  gap: 20px;
  justify-content: space-around;
  height: 750px;
}

.ICON_CONTAINER {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img_container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.buttonCV {
  display: flex;
  background-color: #3b8686;
  color: white;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-decoration: none;
  align-items: center;
}

.buttonCV:hover {
  background-color: white;
  color: #3b8686;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
}

.button_container {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: flex;
  text-decoration: none;
}
a:hover > .ICON2 {
  color: #cff09e;
}
a:hover > .ICON2TEXT {
  color: #cff09e;
}

a:hover {
  color: #cff09e;
}

.DISPLAY_FLEX {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.buttonENG_ESP {
  display: flex;
  background-color: #3b8686;
  color: white;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-decoration: none;
  align-items: center;
}

.buttonENG_ESP:hover {
  background-color: white;
  color: #3b8686;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
}

.displaynone {
  display: none;
}

.unActiveButton {
  text-decoration: none !important;
}

.buttonLANG {
  display: flex;
}

.enlace {
  color: white;
  text-decoration: none;
  display: inline;
}

.container-enlaces {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.typewriter {
  font-family: 'Courier', monospace;
  color: white;
  font-size: 24px;
  white-space: nowrap;
  border-right: 2px solid white;
  overflow: hidden;
  width: 0;
  animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 260px;
  } /* Adjust based on the width of your text */
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
.text-description {
  font-size: 16px;
}
.App {
  width: 100%;
  height: 100%;
  background-color: #0b486b;
}
@media (max-width: 1024px) {
  .NavBar_Split {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: unset;
    margin-left: unset;
    padding: 12px;
  }
  .Tech_icons {
    width: 100%;
    display: grid;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 0px;
  }
  .Project_Title {
    padding: unset;
  }
  .Project_Container {
    width: 100%;
    margin-bottom: 0px;
  }
  .Project_Card {
    display: flex;
    width: 100%;
    margin-top: 0px;
    a {
      padding: 12px;
    }
    a:hover {
      img {
        transform: unset;
      }
    }
  }
  .Project_img {
    width: 100%;
    width: 500px;
  }
  .Project_cardtext {
    padding: 12px;
    font-size: 12px;
    p {
      font-size: 12px;
    }
    a {
      font-size: 12px;
    }
  }
}

@media (max-width: 500px) {
  .NavBar_Split {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: unset;
    margin-left: unset;
  }
  .NavBar_letters {
    width: 100%;
  }
  .NavBar_Container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .Logo_L {
    font-size: 16px;
  }
  .Logo_A {
    font-size: 16px;
  }
  .NavBar_letters {
    font-size: 12px;
  }
  .NavBar_Container {
    height: 60px;
  }
  .Content_Container {
    width: 100%;
    flex-direction: column-reverse;
  }
  .Content_content {
    padding: 12px;
    p {
      font-size: 12px;
    }
  }
  .Content_text {
    height: auto;
  }
  .Tech_icons {
    width: 100%;
    display: grid;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0px;
    grid-auto-rows: minmax(80px, auto);
    margin-top: 0px;
  }
  .Project_Container {
    width: 100%;
    margin-bottom: 0px;
  }
  .Project_Card {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 0px;
    a {
      padding: 12px;
    }
    a:hover {
      img {
        transform: unset;
      }
    }
  }
  .Project_img {
    width: 100%;
  }
  .Project_cardtext {
    padding: 12px;
    font-size: 12px;
    p {
      font-size: 12px;
    }
    a {
      font-size: 12px;
    }
  }
}
